.account-address-book
    padding-top 10px
    h1
        font-size 28px
        font-family 'DubielItalic'
        font-weight 100
        font-weight normal
        padding 0px
        margin 0px
    h2
        font-size 14px
        font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif;
        font-weight 500
        letter-spacing .5px
        padding 0px
        margin 0px
        padding-top 25px
        padding-bottom 20px
    .address-column
        font-size 13px
        font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif;
        font-weight 400
        letter-spacing .5px
        line-height 21px
        opacity 0.9
        float left
        width 300px
        position relative
        .address-edit-button
            font-size 13px
            opacity 0.9
            letter-spacing .1px
            padding-top 20px
            text-decoration underline
    .address-empty
        font-size 15px
        font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif;
        font-weight 400
        font-style italic
    .address-divide-shipping
        height 1px 
        position absolute
        top 50px
        left 0px
        right 15px
        background #EAEAEA
    .address-divide-billing
        height 1px 
        position absolute
        top 50px
        left 0px
        right -70px
        background #EAEAEA
    .address-additional
        padding-top 40px
        padding-bottom 25px
        position relative
        .address-additional-divide
            height 1px
            position absolute
            top 110px
            left 0px
            right 30px
            background #EAEAEA
        h1
            font-size 28px
            font-family: 'DubielItalic';
            padding 0px
            margin 0px
            padding-top 25px
            padding-bottom 30px
    .add-address-button
        font-size 14px
        font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif;
        font-weight 400
        border 0px
        display inline-block
        cursor pointer
        padding 10px
        padding-left 15px
        padding-right 15px
        border-radius 5px
        color rgba(255,255,255,0.9)
        background black
