.account-page
    width 100%
    .account-page-free-shipping
        font-size 12px
        font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif;
        line-height 34px
        height 34px
        text-align center
        background-color: rgb(250, 226, 192); 
        opacity: 1; 
        top: 0px; 
        display: block; 
        border: none; 
        background-image url('https://s3.amazonaws.com/userimages.barilliance.com/b/37955_bg_desktop.jpg')
        b
            font-size 13px
            padding-right 4px
    .account-page-content
        padding-top 35px
        padding-bottom 35px

        width 1000px
        margin auto
        .page-header-image
            height 52px
            width 100%
            margin-top 10px
            margin-bottom 10px
        .page-menu
            width 30%
            float left
        .page-view
            width 70%
            float right
