.site-top-bar
    height 40px
    width 100%
    background #F5F9FC
    .site-top-bar-content
        width 970px
        margin auto
        .top-bar-links
            text-align right
            float right
            width 50%
            ol
                padding-top 9px
                list-style none
                li
                    font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif
                    word-spacing 1px
                    letter-spacing 0px
                    font-size 12px
                    margin-left 15px
                    cursor pointer
                    color #333333
                    display inline-block
                    position relative
                    border-bottom 1px solid #333333
                    .icon
                        height 13px
                        width 13px
                        position absolute
                        left -18px
                        background url('question-circle-black.svg') center 40%/20px no-repeat
                        background-size cover
                .links-help
                    border-bottom 0px
        .top-bar-region-select-button
            cursor pointer
            position relative
            float left
            .button-flag
                line-height 23px
                height 23px
                width 23px
                position absolute
                left 0px
                top 8px
                border-radius 100%
            .button-text
                height 40px 
                line-height 40px
                font-size 12px
                font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif
                padding-left 34px
                position relative
                display inline-block
                padding-right 15px
                b
                    padding-right 2px
                .text-icon
                    height 11px
                    width 7.5px
                    position absolute
                    right 0px
                    top 50%
                    margin-top -5px
                    transform rotate(90deg)
                    background url('right-open-black.svg') center 40%/20px no-repeat
                    background-size cover
