.site-footer
    color white
    background #000000
    .site-footer-content
        width 980px
        margin auto
        .site-footer-contact
            font-size 14px
            font-weight 200
            font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif;
            height 58px
            line-height 58px
            background url('./footer-contact-bkgd.png')
            background-position center
            .contact-left
                padding-left 30px
                float left
                position relative
                .left-mail-icon
                    height 15px
                    width 15px
                    position absolute
                    left 5px
                    top 50%
                    margin-top -9px
                    background url('footer-contact-mail.svg') center 40%/20px no-repeat;
                    background-size cover
            .contact-right
                float right
                position relative
                .right-telephone-icon
                    height 15px
                    width 15px
                    position absolute
                    left 5px
                    top 50%
                    margin-top -9px
                    background url('footer-contact-phone.svg') center 40%/20px no-repeat;
                    background-size cover
                .right-item
                    display inline-block
                    padding-left 20px
                    b
                        padding-left 15px
                        padding-right 15px
        .site-footer-join
            width 326px
            float left
            .join-content
                padding-top 18px
                padding-right 10px
                h1
                    font-size 44px
                    font-family: 'DubielItalic';
                    padding 0px
                    margin 0px
                h2
                    font-size 30px
                    font-family: 'DubielItalic';
                    padding 0px
                    margin 0px
                    color #989898
                    .h2-brown
                        color #B7AA85
                p
                    font-size 13px
                    font-weight 200
                    font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif;
                    line-height 18px
                    margin 0px
                    padding 0px
                    width 275px
                    padding-top 5px
                    padding-bottom 15px
                    opacity 0.5
                    .link-underline
                        text-decoration underline
                .join-form
                    position relative
                    input[type="text"]     
                        font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif;
                        font-size 12px
                        padding 0px
                        width 95%
                        padding-left 5%
                        height 40px
                        border 0px solid black
                        transition-property border
                        transition-duration 0.4s
                        transition-timing-function ease-out
                        transition-delay 0s
                        outline none
                        border-radius 5px
                        color black
                    .form-submit-button
                        font-size 14px
                        font-family 'DubielItalic'
                        font-weight normal
                        height 32px
                        width 80px
                        position absolute
                        top 4px
                        right 11px
                        border 0px
                        border-radius 5px
                        color white
                        background black
        .site-footer-social
            width 652px
            float right
            border-left 1px solid #303030
            .social-content
                padding-top 18px
                padding-bottom 30px
                padding-left 25px
                h1
                    font-size 44px
                    font-family: 'DubielItalic';
                    padding 0px
                    margin 0px
                h2
                    font-size 30px
                    font-family: 'DubielItalic';
                    padding 0px
                    margin 0px
                    color #989898
                    .h2-brown
                        color #B7AA85
                p
                    font-size 13px
                    font-weight 200
                    font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif;
                    line-height 18px
                    margin 0px
                    padding 0px
                    width 450px
                    padding-top 5px
                    padding-bottom 15px
                    opacity 0.5
                .social-links
                    text-align left
                    margin-top -20px
                    padding-bottom 5px
                    padding-left 160px
                    .social-link
                        display inline-block
                        margin-right 20px
                    .link-facebook
                        height 23px
                        width 13px
                        background green
                        background url('social-facebook.svg') center 40%/20px no-repeat;
                        background-size cover
                    .link-twitter
                        height 19px
                        width 21px
                        background green
                        background url('social-twitter.svg') center 40%/20px no-repeat;
                        background-size cover
                    .link-pinterest
                        height 22px
                        width 18px
                        background green
                        background url('social-pinterest.svg') center 40%/20px no-repeat;
                        background-size cover
                    .link-instagram
                        height 20px
                        width 20px
                        background green
                        background url('social-instagram.svg') center 40%/20px no-repeat;
                        background-size cover
                    .link-youtube
                        height 23px
                        width 21px
                        background url('social-youtube.svg') center 40%/20px no-repeat;
                        background-size cover
                .social-column
                    font-size 12px
                    font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif;
                    font-weight 200
                    padding-right 30px
                    padding-top 25px
                    padding-bottom 25px
                    float left
                    div
                        cursor pointer
                        padding-bottom 8px
                    div:hover
                        text-decoration underline
                .social-legal
                    font-size 12px
                    font-weight 200
                    padding-top 8px
                    font-family "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, "Times New Roman", Times, serif;
                    opacity 0.5