body
    padding 0px
    margin 0px
    background white

.clear-float
    clear both

ul, ol
    padding 0px
    margin 0px

@font-face {
  font-family: 'DubielItalic';
  font-weight normal
  src: local('DubielItalic'), url('assets/fonts/dubiel-italic.woff') format('woff');
}

@font-face {
  font-family: 'JennaSue';
  font-weight normal
  src: local('JennaSue'), url('assets/fonts/jennasue.woff') format('woff');
}